/*imports Fuente pagina*/
@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Didact+Gothic&display=swap');

/*selector universal*/
*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Andika', sans-serif;
    font-family: 'Didact Gothic', sans-serif;
}

