.margenSobreNosotros{
    margin-left: 10px;
}

.margenComentarios{
    margin-left: 20px;
    margin-top: 5px;
}

.margenBotones{
    margin-left: $margen-botones;
}

/*edicion formato links finales div*/
.editText{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.tamañoTexto{
    font-size: 30px;
    color: black;
    text-align: left;
}

.textoForma{
    color: black;
    font-size: 17px;
    text-align: justify;
}

.formatoParrafos{
    text-align: $formato-parrafos;
}

.enlaceBox{
    /* propiedades decorativas */
border: solid 1px rgb(255, 255, 255);
padding: 5px;
display: flexbox;
font-size: 25px;
}

.enlaceBox2{
border: solid 1px rgb(255, 255, 255);
padding: 5px;
display: inline-block;
font-size: 18px;
}

