$formato-parrafos: justify;
$margen-botones: 50px;
$color-Principalindex: rgb(101, 9, 188);
$color-noticias: rgb(66, 27, 102);
$color-header2: rgb(0, 0, 0);
$color-header1: rgb(255, 255, 255);
$color-primario:  blueviolet;
